nav a {
	font-size: 30px;
}

body {
  	padding: 2%;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

p {
	font-size: 20px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
}

#president {
	font-weight: bold;
}

#signature {
	font-style: italic;
}

#footer-text {
	font-size: 20px;
}

#deals-div {
	display: flex;
}

#deals-div nav, #deals-div aside {
	flex: 0 1 50%;
}

#logo {
	font-size: 36px;
}

#enter {
	width: 100%;
}

#nutrition-table {
	outline: 1px solid black;
}

th {
	font-size: 12px;
	font-weight: lighter;
}

.bold-text {
	font-size: 14px;
	font-weight: bold;
}

.tab1 {
	text-indent: 15%;
}

#flex-group {
	display: flex;
}

#flex-group nav {
	flex: 0 1 45%;
	padding: 10px;
}

#flex-group main {
	flex: 0 1 10%;
}

#flex-group aside {
	flex: 0 1 45%;
}